@{
    ViewData["Title"] = "Home Page";
}
@using SaleCRMApp.Models

@model List<State>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    /*.card {
            transition: transform 0.2s, box-shadow 0.2s;
            border-radius: 10px; /* Adjust border radius as needed */
    }

    */
    /*.card:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transform: scale(1.03);
            }

    */
    body {
        font-family: Varela Round;
        background: #f1f1f1;
    }

    a {
        text-decoration: none;
    }

    /* Card Styles */

    .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.3s ease;
    }

        .card-sl:hover {
            /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);*/
            transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
        }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

        .card-action:hover {
            color: #fff;
            background: #E26D5C;
            -webkit-animation: pulse 1.5s infinite;
        }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

        .card-button:hover {
            text-decoration: none;
            background-color: #1D3461;
            color: #fff;
        }

</style>
<br></br>
<div class="container-fluid ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100%; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.uniekart.com/images/inner_banner1.jpeg" class="d-block w-100 img-fluid" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://www.uniekart.com/images/inner_banner2.jpeg" class="d-block w-100 img-fluid" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="https://swadeshi-dukan.com/cdn/shop/files/Banner_2_1800x.jpg?v=1614726309" class="d-block w-100 img-fluid" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<br />
@*<div class="container-fluid">
    <div class="row">
        @foreach (var state in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="height: 400px;">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(state.StateImage)" class="card-img-top" alt="@state.StateName" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@state.StateName</h5>
                        <p class="card-text" style="height: 100px; overflow: hidden;">@state.StateDescription</p>
                        <a href="@Url.Action("GetProduct", "ProductView", new { stateName = state.StateName })" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@
@{
    ViewData["Title"] = "Home Page";
    bool isUser = User.IsInRole("User");
}

@if (isUser || !User.Identity.IsAuthenticated)
{
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
            @foreach (var state in Model)
            {
                <div class="col-md-3">
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(state.StateImage)" class="card-img-top" alt="@state.StateName" style="height: 200px; object-fit: cover;">
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            @state.StateName
                        </div>
                        <div class="card-text" style="height: 100px; overflow: hidden;">
                            @state.StateDescription
                        </div>

                        <a href="@Url.Action("GetProduct", "ProductView", new { stateName = state.StateName })" class="card-button btn btn-primary">Know More</a>

                    </div>
                    <br></br>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Welcome to the Swadeshi Hub App</p>
}


</div>